*{
  text-decoration: none;
}

header{
  background-color: #dd780c;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  padding: 12px;
}
.navdiv{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.logo a{
  font-size: 35px;
  font-weight: 600;
  color: white;
}
.nav-links{
  display: flex;
  align-items: center;
}

li{
  list-style: none;
  display: inline-block;
}

li a{
  color: white;
  font-size: 18px;
  margin-right: 24px;
  font-weight: bold;
}
button{
  color: white;
  background-color: #1f3a4a;
  border-radius: 24px;
  padding: 8px 16px;
  width: 90px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.hero-container{
  display: flex;
  align-items: center;
  gap: 48px;
}

.hero-desc{
  flex: 1.2;
  color: #F4F6F8;
}

.img-visual{
  flex: 1;
}

.hero{
  background-color: #1f3a4a;
  padding: 48px;
}

.hero-badge{
  color: #F4F6F8;
  background-color: #dd780c;
  border-radius: 24px;
  text-align: center;
  padding: 6px;
}

.hero-title{
  color: #F4F6F8;
  padding-top: 32px;
  padding-bottom: 32px;
}

.hero-title span{
  color: #dd780c;
}

.btn.btn-primary{
  background-color: #dd780c;
  color: #F4F6F8;
  padding: 12px;
  text-align: center;
  border-radius: 24px;
  margin-right: 16px;
}

.btn.btn-secondary{
  background-color: #1f3a4a;
  color: #dd780c;
  padding: 12px;
  text-align: center;
  border-radius: 24px;
  margin-right: 16px;
}

.hero-actions{
  gap: 6px;
}