*{
  text-decoration: none;
}

header{
  background-color: #dd780c;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  padding: 12px;
}
.navdiv{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.logo a{
  font-size: 35px;
  font-weight: 600;
  color: white;
}
.nav-links{
  display: flex;
  align-items: center;
}

li{
  list-style: none;
  display: inline-block;
}

li a{
  color: white;
  font-size: 18px;
  margin-right: 24px;
  font-weight: bold;
}
button{
  color: white;
  background-color: #1f3a4a;
  border-radius: 24px;
  padding: 8px 16px;
  width: 90px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}